root: {
//bgc кнопок, текст светлых кнопок, заголовки, ховер текста в навигации,большие цифры, ховер иконок соцсетей
  --accentColor: #d41443;
//Фон героя и первой колонки Products
  --heroBgc: #ffb8ca;
//Светлая кнопка
  --heroBtnLight: #ffffff;
//Ховер светлой кнопки
  --heroBtnLightHover: #ecebeb;
//Главная кнопка
  --heroBtnDark: #d41443;
//Ховер главной кнопки, маркеры в отзывах
  --heroBtnDarkHover: #c7133e;
//Круг за мороженым 
  --circleBgc: #ffa5ba;
//Фон секций - розовый
  --primaryBgc: #fff5f6;
//Фон секций - белый  
  --secondaryBgc: #ffffff;
//Фон мобильного меню  
  --bgcMobMenu: #e17992;
//Основной текст 
  --primaryText: #907e82;
//Белый текст
  --secondaryText: #ffffff;
//Черный текст
  --darkText: #000000;
//Иконки 
  --iconColor: #fea5bb;
//Заголовки
  --titleColor: #d41443;
//Лейбл заголовков, время работы в контактах
  --preTitleColor: #ffa5ba;
//Фон под второй колонкой Products, фон заголовков в контактах
  --alternateBgc: #f0d1a5;
//Фон под третьей колонкой Products, фон заголовков в контактах
  --additionalBgc: #c2e297;
// Фон под отзывом
  --reviewBgc: #fafafa;
// Фон активного слайдера
  --accentSlider: #d31342;
// Фон слайдера
  --bgcSlider: #d9d9d9;
}