<section class="advantages container">
    <h1 class="visually-hidden">Advantages</h1>
    <ul class="advantages__list list">
        <li class="advantages__item">
            <p class="advantages__text--top">721</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
            <p class="advantages__text--top">16kg</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
            <p class="advantages__text--top">84</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</section>
