<h1>contacts</h1>
<section class="contacts ">
  <h2 class="contacts__title visually-hidden">Our establishments</h2>
  <ul class="contacts__list list">
    <li class="contacts__item">
      <p class="contact__points">Cafe</p>
      <div class="contacts__area">
        <p class="contacts__city">Chicago</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="contacts__worktime">
        <p class="contacts__days">Monday - Friday</b>
        <p class="contacts__days-time">06:00 AM - 10:00 PM</p>
      </div>
      <div class="contacts__worktime">
        <p class="contacts__days">Saturday - Sunday</b>
        <p class="contacts__days-time">08:00 AM - 16:00 PM</p>
      </div>
      <div class="cotacts__connection">
        <a class="contacts__phone link" href="tel:+610383766284">+61(0) 383 766 284 </a>
        <a class="contacts__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </li>
    <li class="contacts__item">
      <p class="contact__points">Food truck</p>
      <div class="contacts__area">
        <p class="contacts__city">Los Angeles</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="contacts__worktime">
        <p class="contacts__days">Monday - Friday</b>
        <p class="contacts__days-time">06:00 AM - 10:00 PM</p>
      </div>
      <div class="contacts__worktime">
        <p class="contacts__days">Saturday - Sunday</b>
        <p class="contacts__days-time">08:00 AM - 16:00 PM</p>
      </div>
      <div class="cotacts__connection">
        <a class="contacts__phone link" href="tel:+610383766284">+61(0) 383 766 284 </a>
        <a class="contacts__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </li>
    <li class="contacts__item">
      <p class="contact__points">Cafe</p>
      <div class="contacts__area">
        <p class="contacts__city">New York</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="contacts__worktime">
        <p class="contacts__days">Monday - Friday</b>
        <p class="contacts__days-time">06:00 AM - 10:00 PM</p>
      </div>
      <div class="contacts__worktime">
        <p class="contacts__days">Saturday - Sunday</b>
        <p class="contacts__days-time">08:00 AM - 16:00 PM</p>
      </div>
      <div class="cotacts__connection">
        <a class="contacts__phone link" href="tel:+610383766284">+61(0) 383 766 284 </a>
        <a class="contacts__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </li>
  </ul>
  <div class="contacts-buttons">
    <button class="_contacts-buttons__location" type="button">Our Locations</button>
    <button class="_contacts-buttons__location" type="button">Franchise</button>
  </div>
</section>
