<section id="contact" class="contacts contacts_bgr">
  <div class="container">
    <div class="contacts__image"></div>
  <h2 class="contacts__title visually-hidden">Our establishments</h2>
  <ul class="contacts__list list">
    <li class="contacts__item">
      <p class="contact__points">Cafe</p>
      <div class="contacts__area">
        <p class="contacts__city">Chicago</p>
        <p class="contacts__story" >Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="contacts__schedule">
        <div class="contacts__worktime">
            <p class="contacts__days">Monday - Friday</b>
            <p class="contacts__days-time">06:00 AM - 10:00 PM</p>
        </div>
        <div class="contacts__worktime">
            <p class="contacts__days">Saturday - Sunday</b>
            <p class="contacts__days-time">08:00 AM - 16:00 PM</p>
        </div>
      </div>
      <div class="contacts__connection">
        <a class="contacts__phone link" href="tel:+610383766284">+61(0) 383 766 284 </a>
        <a class="contacts__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </li>
    <li class="contacts__item">
      <p class="contact__points points-truck">Food truck</p>
      <div class="contacts__area">
        <p class="contacts__city">Los Angeles</p>
        <p class="contacts__story" >Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="contacts__schedule">
        <div class="contacts__worktime">
            <p class="contacts__days">Monday - Friday</b>
            <p class="contacts__days-time">06:00 AM - 10:00 PM</p>
        </div>
        <div class="contacts__worktime">
            <p class="contacts__days">Saturday - Sunday</b>
            <p class="contacts__days-time">08:00 AM - 16:00 PM</p>
        </div>
      </div>
      <div class="contacts__connection">
        <a class="contacts__phone link" href="tel:+610383766284">+61(0) 383 766 284 </a>
        <a class="contacts__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </li>
    <li class="contacts__item">
      <p class="contact__points">Cafe</p>
      <div class="contacts__area">
        <p class="contacts__city">New York</p>
        <p class="contacts__story" >Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="contacts__schedule">
        <div class="contacts__worktime">
            <p class="contacts__days">Monday - Friday</b>
            <p class="contacts__days-time">06:00 AM - 10:00 PM</p>
        </div>
        <div class="contacts__worktime">
            <p class="contacts__days">Saturday - Sunday</b>
            <p class="contacts__days-time">08:00 AM - 16:00 PM</p>
        </div>
      </div>
      <div class="contacts__connection">
        <a class="contacts__phone link" href="tel:+610383766284">+61(0) 383 766 284 </a>
        <a class="contacts__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </li>
  </ul>
  <div class="contacts-buttons">
    <button class="btn btn-main contacts-buttons__location" type="button">Our Locations      <svg class="about-icon arrow-svg" width="10" height="16" >
        <use href="images/sprite.svg#icon-arrow-right"></use>
      </svg>
</button>
<button class="btn btn-main btn-main--light contacts-buttons__franchise" type="button">Franchise 
  <svg 
      class="greather-than btn-main__icon">
      <use href="images/sprite.svg#icon-greather-than"></use>
  </svg>
</button>
</div>
  </div>
</section>
