<section class="customer">
    <div class="container">

        <h2 class="customer__title">Customer Reviews</h2>

        <div class="multiple-items">
            <div class="customer__card">
                <div class="customer__img">
                    <img loading='lazy' srcset="
                        ./img/customer-1.jpg 1x,
                        ./img/customer-1@2x.jpg 2x
                        " src="./img/testimonials1@1x.jpg" alt="Emily" />
                </div>
                <div class="customer__review">
                    <div class="customer__gradient">
                        <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            Aliquam sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </div>
                <span class="three-dots">. . .</span>
                <h3 class="customer__name">Emily, Los Angeles</h3>
            </div>

            <div class="customer__card">
                <div class="customer__img">
                    <img loading='lazy' srcset="
                        ./img/customer-2.jpg 1x,
                        ./img/customer-2@2x.jpg 2x
                        " src="./img/testimonials2@1x.jpg" alt="Emily" width="85" height="85" />
                </div>
                <div class="customer__review">
                    <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                        sem. In hendrerit
                        nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <span class="three-dots">. . .</span>
                <h3>Emily, Los Angeles</h3>
            </div>
            <div class="customer__card">
                <div class="customer__img">
                    <img loading='lazy' srcset="
                        ./img/customer-3.jpg.jpg 1x,
                        ./img/customer-3@2x.jpg 2x
                        " src="./img/testimonials3@1x.jpg" alt="Emily" width="85" height="85" />
                </div>
                <div class="customer__review">
                    <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                        sem. In hendrerit
                        nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <span class="three-dots">. . .</span>
                <h3>Emily, Los Angeles</h3>
            </div>

        </div>
