<footer class="footer">
    <div class="container footer__position">
        <div class="footer__titles">
           <p class="footer__third-title third-title">homemade ice cream made</p>
          <p class="second-title">with passion</p>
       </div> 
       <div class="footer__elements">
         <ul class="footer__social-list social-list">
         <li class="social-list__item">
            <a class="social-list__link" href="http://poshukach.com/redir?user_type=57&type=sr&redir=eJzLKCkpKLbS10_PLMkoTdJLzs_VZ2AwNDO2MDU1NTQyY3jB7TN395oZ_yrrHDS__ZBZCwCJURHl&src=7f34ae&via_page=1"
            target="_blank" rel="noreferrer noopener">
                <svg class="social-list__icon">
                    <use href="/images/sprite.svg#icon-socials-github"></use>
                </svg>
            </a>
         </li>
         <li class="social-list__item">
            <a class="social-list__link" href="http://poshukach.com/redir?user_type=41&type=sr&redir=eJzLKCkpKLbS1y9PTdIrSc1JTS9KzNXLL0rXZ2AwNDO2MDU1sTS2ZFCZeSxWd2JIfvQlm6D5TUfKAO3UEro&src=5fa408&via_page=1"
             target="_blank" rel="noreferrer noopener">
                <svg class="social-list__icon">
                    <use href="/images/sprite.svg#icon-socials-telegram"></use>
                </svg>
            </a>
         </li>
         <li class="social-list__item">
            <a class="social-list__link" href="http://poshukach.com/redir?user_type=53&type=sr&redir=eJzLKCkpKLbS1y8vL9dLS0xOTcrPz9ZLzs_VZ2AwNDO2MDU1NbQ0Z9DgUPZaVyx7ctXr7_wJM4-FAwDoZhKc&src=69ba00&via_page=1"
             target="_blank" rel="noreferrer noopener">
                <svg class="social-list__icon"> 
                    <use href="/images/sprite.svg#icon-socials-facebook"></use>
                </svg>
            </a>
         </li>
         </ul>
         <p class="footer__text-contact">Feel free to contact &nbsp;<a class="footer__contact" href="tel:+610383766284">+61 (0) 383 766 284</a></p>
        </div>
      </div>

     <div class="footer__copyright">
      <p class="footer__copyright-text">&#169; 2019 - IceCream. All Rights Reserved</p>
     </div>
    </footer>