<section>
    <div>
        <picture>
          <source media="(min-width: 1200px)" srcset="images/gallery/gallery-desktop.jpg 1x, 
          images/gallery/gallery-desktop@2x.jpg 2x" >
          <source media="(min-width: 768px)" srcset="images/gallery/gallery-tablet.jpg 1x, 
          images/gallery/gallery-tablet@2x.jpg 2x" >
          <source media="(min-width: 320px)" srcset="images/gallery/gallery-mobile.jpg 1x, 
          images/gallery/gallery-mobile@2x.jpg 2x" >
          <img src="images/about/cow-mobile.png" alt="cow"/>
        </picture>
    </div>
</section>
