<section class="gallery" id="gallery">
    <h2 class="visually-hidden">Наша галерея</h2>
    <div class="container">
        <picture>
          <source media="(min-width: 1080px)" srcset="images/gallery/gallery-desktop.jpg 1x, 
          images/gallery/gallery-desktop@2x.jpg 2x" type="image/jpg">
          <source media="(min-width: 768px)" srcset="images/gallery/gallery-tablet.jpg 1x, 
          images/gallery/gallery-tablet@2x.jpg 2x" type="image/jpg">
          <source media="(min-width: 320px)" srcset="images/gallery/gallery-mobile.jpg 1x, 
          images/gallery/gallery-mobile@2x.jpg 2x" type="image/jpg">
          <img src="images/gallery/gallery-mobile.jpg" class="gallery__picture" loading="lazy" alt="gallery"/>
        </picture>
    </div>
</section>
