<header>
<!-- MOBILE MENU START -->
<div class="mob-menu is-hidden" data-menu>
    <button class="mob-menu__button btn" data-menu-close>
<svg class="mob-menu__icon">
    <use href="/images/modal/symbol-defs.svg#icon-close"></use>
</svg>
</button>
<button class="mob-menu__btn-main btn btn-main btn-main--light" type="button" data-mob-menu-open data-mobile-menu-close>Buy now
    <svg class="mob-menu__btn-icon btn-main__icon">
        <use href="images/sprite.svg#icon-greather-than"></use>
    </svg>
    
</button>
    <ul class="mob-menu__list">
        <li class="mob-menu__item"><a class="mob-menu__link current" href="#home" data-home-menu-close>Home</a></li>
        <li class="mob-menu__item"><a class="mob-menu__link" href="#about" data-about-menu-close>About us</a></li>
        <li class="mob-menu__item"><a class="mob-menu__link" href="#about" data-how-menu-close>How it’s made?</a></li>
        <li class="mob-menu__item"><a class="mob-menu__link" href="#products" data-our-menu-close>Our products</a></li>
        <li class="mob-menu__item"><a class="mob-menu__link" href="#contact" data-cont-menu-close>Contact</a></li>
    </ul>
</div>
<!-- FINISH MODAL WINDOW -->
<div class="container container-header">
        <a href="#" class="logo">
            <img srcset="images/logo.png 1x, images/logo@2x.png 2x" 
            src="images/logo.png" alt="logo">
        </a>
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link current" href="#home">Home</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#about">About us</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#about">How it’s made?</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#products">Our products</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="header-buttons">
            <button class="burger btn" type="button" data-menu-open>
                <svg 
                    class="burger-icon" 
                    width="20" 
                    height="12">
                    <use href="images/sprite.svg#icon-burger"></use>
                </svg>
            </button>
            <button data-modal-open class="btn btn-main btn-main--light btn-buy" type="button">Buy now 
                <svg 
                    class="greather-than btn-main__icon">
                    <use href="images/sprite.svg#icon-greather-than"></use>
                </svg>
            </button>
        </div>
    </div>
</header>
