<section class="hero">
    <div class="container">
        <h1>ice cream made with passion</h1>
        <button 
            class="btn " 
            type="button">
            Products
        </button>
        <button 
            class="btn " 
            type="button">
            How it’s made?
        </button>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</h2>
        <button class="btn" type="button"> &#x02192</button>
        <div 
            class="network">
            <p>16</p>
            <p>cafes</p>
        </div>
        <div 
            class="network">
            <p>26</p>
            <p>food trucks</p>
        </div>
        <picture>
            <source 
                media="(min-width: 1080px)" 
                srcset="" 
                type="image/webp">
            <source 
                media="(min-width: 1080px)" 
                srcset="images/hero/girl-desktop.png 1x, 
                    images/hero/girl-desktop@2x.png 2x">
            <source 
                media="(min-width: 768px)" 
                srcset="" 
                type="image/webp">
            <source 
                media="(min-width: 768px)" 
                srcset="images/hero/girl-tablet.png 1x, 
                    images/hero/girl-tablet@2x.png 2x">
            <img 
                class="img-girl" 
                src="#" 
                alt="girl with ice cream">
        </picture>
        <picture>
            <source 
                media="(min-width: 1080px)" 
                srcset="" 
                type="image/webp">
            <source 
                media="(min-width: 1080px)" 
                srcset="images/hero/milk-desktop.png 1x, 
                    images/hero/milk-desktop@2x.png 2x">
            <source 
                media="(min-width: 768px)" 
                srcset="" 
                type="image/webp">
            <source 
                media="(min-width: 768px)" 
                srcset="images/hero/milk-tablet.png 1x, 
                    images/hero/milk-tablet@2x.png 2x">
            <img 
                class="img-milk" 
                src="#" 
                alt="milk in a cup">
        </picture>
        <picture>
            <source 
                media="(min-width: 1080px)" 
                srcset="" 
                type="image/webp">
            <source 
                media="(min-width: 1080px)" 
                srcset="images/hero/icecream-desktop.png 1x, 
                    images/hero/icecream-desktop@2x.png 2x">
            <source 
                media="(min-width: 768px)" 
                srcset="" 
                type="image/webp">
            <source 
                media="(min-width: 768px)" 
                srcset="images/hero/icecream-tablet.png 1x, 
                    images/hero/icecream-tablet@2x.png 2x">
            <source 
                media="(max-width: 767px)" 
                srcset="" 
                type="image/webp">
            <source 
                media="(max-width: 767px)" 
                srcset="images/hero/icecream-mobile.png 1x, 
                    images/hero/icecream-tablet@2x.png 2x">
            <img 
                class="img-icecream" 
                src="#" 
                alt="photo of the best ice cream">
        </picture>
    </div>
</section>