<section id="products" class="products">
  <div class="container products__container">
    <p class="product__pretitle">100% natural</p>
    <h2 class="products__title">products</h2>

    <ul class="products__list list">
      <li class="products__item">
        <h3 class="item__heading">ice cream</h3>
        <p class="item__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button class="products__btn btn" type="button"></button>
      </li>

      <li class="products__item">
        <h3 class="item__heading">ice coffee</h3>
        <p class="item__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button class="products__btn btn" type="button"></button>
      </li>

      <li class="products__item">
        <h3 class="item__heading">milkshakes</h3>
        <p class="item__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button class="products__btn btn" type="button"></button>
      </li>
  </ul>
  </div>
</section>
