<section class="products">

  <div class="container products__container">
    <p id="products" class="product__pretitle third-title">100% natural</p>
    <h2 class="products__title second-title">products</h2>

    <ul class="products__list list">
      <li class="products__item">
        <h3 class="item__heading">ice cream</h3>
        <p class="item__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button class="products__btn btn" type="button">
          <picture>
                <source
                  media="(min-width: 1080px)"
                  srcset="
                    images/hero/arrow-right-desktop.jpg    1x,
                    images/hero/arrow-right-desktop@2x.jpg 2x
                  "
                />
                <img
                  class="btn__icon"
                  src="images/hero/arrow-right-desktop.jpg"
                  alt="arrow"
                />
              </picture>
              <span class="products__text products__text--icecream">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Tenetur delectus obcaecati voluptatem iure ex perspiciatis autem
                debitis laudantium laborum sint?
              </span>
        </button>
      </li>

      <li class="products__item">
        <h3 class="item__heading">ice coffee</h3>
        <p class="item__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button class="products__btn btn" type="button">
          <picture>
                <source
                  media="(min-width: 1080px)"
                  srcset="
                    images/hero/arrow-right-desktop.jpg    1x,
                    images/hero/arrow-right-desktop@2x.jpg 2x
                  "
                />
                <img
                  class="btn__icon"
                  src="images/hero/arrow-right-desktop.jpg"
                  alt="arrow"
                />
              </picture>
              <span class="products__text products__text--icecoffee">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Tenetur delectus obcaecati voluptatem iure ex perspiciatis autem
                debitis laudantium laborum sint?
              </span>
        </button>
      </li>

      <li class="products__item">
        <h3 class="item__heading">milkshakes</h3>
        <p class="item__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button class="products__btn btn" type="button">
          <picture>
                <source
                  media="(min-width: 1080px)"
                  srcset="
                    images/hero/arrow-right-desktop.jpg    1x,
                    images/hero/arrow-right-desktop@2x.jpg 2x
                  "
                />
                <img
                  class="btn__icon"
                  src="images/hero/arrow-right-desktop.jpg"
                  alt="arrow"
                />
              </picture>
              <span class="products__text products__text--milkshaces">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Tenetur delectus obcaecati voluptatem iure ex perspiciatis autem
                debitis laudantium laborum sint?
              </span>
        </button>
      </li>
  </ul>
  </div>
</section>
