.btn-main {
	min-height: 44px;
	color: var(--secondaryBgc);
	background-color: var(--accent);
	border-radius: 22px;
	@include font(700, 16px, 1.31em);

	@include flex(flex, center, center);
}
.btn-main--light {
	color: var(--accent);
	background-color: var(--secondaryBgc);
	transition: background-color var(--cubic), box-shadow var(--cubic);
	&:hover,
	&:focus {
		background-color: var(--heroBtnLightHover);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
}

.btn-main__icon {
	width: 7px;
	height: 10px;

	@media screen and (min-width: 1200px) {
    width: 6px;
	}
}