.mob-menu {
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--bgcMobMenu);
	z-index: 100;
	width: 100vw;
	height: 100vh;
	overflow-x: scroll;

	@media screen and(min-width:1080px) {
		display: none;
	}
}
.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}
.mob-menu.is-open {
	visibility: visible;
	opacity: 1;
	pointer-events: all;
}
.mob-menu__button {
	margin: 23px 28px 23px auto;

	@include flex(flex, center, center);

	@media screen and(min-width:768px) {
		margin-right: 34px;
	}
}
.mob-menu__icon {
	width: 14px;
	height: 14px;
}
.mob-menu__icon--rose {
	display: none;
}
.mob-menu__button:hover .mob-menu__icon--rose,
.mob-menu__button:focus .mob-menu__icon--rose {
	display: block;
}
.mob-menu__button:hover .mob-menu__icon--white,
.mob-menu__button:focus .mob-menu__icon--white {
	display: none;
}
.mob-menu__btn-main {
	width: 209px;
	width: 186px;
	margin: auto;
	margin-bottom: 19px;

	@media screen and(min-width:768px) {
		width: 186px;
	}
}
.mob-menu__btn-icon {
	margin-left: 16px;

	@media screen and(min-width:768px) {
		margin-left: 14px;
	}
}

.mob-menu__item {
	padding-top: 13px;
	padding-bottom: 11px;
	padding-left: 21px;

	@include font(700, 14px, 1.29em);

	border-bottom: 1px solid var(--lineMobMenu);

	@media screen and(min-width:768px) {
		padding-left: 24px;
	}
}
.mob-menu__link {
	color: var(--secondaryColor);

	&.current {
		color: var(--accent);
	}

	&:hover,
	&:focus {
		color: var(--accent);
		transition: box-shadow 250ms linear;
	}
}
