.backdrop__map {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(246, 158, 203, 0.4);
  z-index: 10;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
  opacity: 1;
  overflow-y: scroll;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal__map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 230px;
  min-height: 400px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 30px;
  transition: transform 550ms ease-in-out, scale 550ms ease-in-out;

  @media screen and (min-width: 480px) {
    max-width: 450px;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    min-width: 700px;
  }

  @media screen and (min-width: 1080px) {
    min-width: 1000px;
    min-height: 600px;
  }

  .backdrop__map.is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);
  }
}


iframe {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
  height: 80%;
  width: 90%;
  box-shadow: 0 8px 16px 8px rgba(251, 150, 198, 0.4);
}

// Модалка франшизы //

.form__title {
	margin-bottom: 40px;
  font-family: Titan One;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.14;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--accent);
}

.form__field--franchise {
  position: relative;
  display: block;
  margin-bottom: 40px;
}

.form__input--franchise {
  width: 100%;
  height: 45px;
  margin: 0;
  padding: 10px 20px;
  padding-left: 10px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  outline: none;
}

.form__label--franchise {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

  transition: transform 250ms linear;
}

.form__input--franchise:focus,
.form__input--franchise:hover {
  border-color:var(--accent);
}

.form__field--franchise:focus-within > .form__label--franchise,
.form__field--franchise:focus-within ~ .form__input--franchise {
  color: var(--accent);
  border-color: var(--accent);
  transform: translateY(-50px);
}

.form__input--franchise:not(:placeholder-shown) + .form__label--franchise {
  transform: translateY(-50px);
}

.form__btn {
  display: block;
  margin: 0 auto;
  min-width: 150px;
  min-height: 45px;

  &:hover,
  &:focus {
    background-color: var(--heroBtnDarkHover);
  }
}
