.section-about {
    min-width: 480px;
    background-color: var(--primaryBgc);
    background-image: url(/images/about/milk-mobile.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: 100vw;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(/images/about/milk-mobile@2x.png);
    }

    @media screen and (min-width: 768px) {
        background-image: none;
        
    }

    @media screen and (min-width: 1280px) {
        background-image: url(/images/about/milk-desktop.png);
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/images/about/milk-desktop@2x.png);
    }
    }
}

.about-container {
    padding-top: 125px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 39px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;

    @media screen and (max-width: 767px) {
        width: 480px;
        
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        
    }

    @media screen and (min-width: 1280px) {
       width: 1280px;
        
    }
}

.about-label {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: var(--circleBgc);

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 30px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 34px;
    }
}

.about-title {
    margin-top: 15px;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--accent);

    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 55px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 58px;
        line-height: 66px;
    }
}


.about-wrapper {
    margin-top: 26px;
    @media screen and (min-width: 768px) {
        display: flex;
        margin-top: 50px;        
    }

    @media screen and (min-width: 1280px) {
        margin-top: 55px;        
    }
}

.about-text-block {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        max-width: 340px;

    }

    @media screen and (min-width: 1280px) {
        max-width: 463px;
        margin-left: 0;
        margin-right: 0;

    }


}

.about-first-text {
    margin-top: 46px;
    margin-bottom: 30px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: var(--darkColor);
    max-width: 320px;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 25px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 463px;
        font-size: 16px;
        line-height: 28px;
    }
}

.about-second-text {
    margin-bottom: 20px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: var(--primaryColor);
    max-width: 320px;

    @media screen and (min-width: 768px) {
        max-width: 340px;
        font-size: 14px;
        line-height: 24px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 463px;
        font-size: 14px;
        line-height: 27px;
    }
}


.about-btn {
    display: flex;
    width: 176px;
    height: 44px;
    border: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    justify-content: center;
    color: var(--accent);
    background: #FFFFFF;
    border-radius: 22px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--heroBtnLightHover);
    }
}

.about-btn-wrapper {
    // margin-top: 47px;

    @media screen and (min-width: 768px) {
        margin-top: 62px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 45px;
    }
    
}

.about-icon {
    margin-left: 13px;
    
}

.about-picture {
    display: block;
    width: 100%;
}

.about-img-box {
    
    @media screen and (min-width: 768px) {
        margin-right: 17px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 74px;
    }
}

.about-image {
    margin-left: auto;
    margin-right: auto;
}