.advantages {
    padding-bottom: 139px;
    background-color: var(--primaryBgc);
}

.advantages__list {

    @media screen and (min-width: 768px) {
        @include flex(flex, center, center);
	}
}

.advantages__item {
    display: flex;
    flex-direction: column;

    &::before {
        content: "";
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
        background-size: contain;
        background-origin: border-box;
        margin-bottom: 40px;
    }

    &:first-child::before {
        background-image: url(../images/advantages/icon-1.png);
    }

    &:nth-child(2)::before {
        background-image: url(../images/advantages/icon-2.png);
    }

    &:nth-child(3)::before {
        background-image: url(../images/advantages/icon-3.png);
    }
}

.advantages__item:not(:last-child) {
    margin-right: 30px;

    @media screen and (max-width: 767px) {
        margin-bottom: 38px;
	}
}

.advantages__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
    color: var(--darkColor);
}