.advantages {
    padding-bottom: 97px;
    background-color: var(--primaryBgc);
    @media screen and (min-width: 768px) {
        padding-bottom: 140px;
	}
}

.advantages__list {

    @media screen and (min-width: 768px) {
        @include flex(flex, center, center);
	}
}

.advantages__item {
    display: flex;
    flex-direction: column;

    &::before {
        content: "";
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
        background-size: contain;
        background-origin: border-box;
        margin-bottom: 40px;
    }

    &:first-child::before {
        background-image: url(../images/advantages/icon-1.png);
        
        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/advantages/icon-1@2x.png);        
        }
    }

    &:nth-child(2)::before {
        background-image: url(../images/advantages/icon-2.png);

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/advantages/icon-2@2x.png);        
        }
    }

    &:nth-child(3)::before {
        background-image: url(../images/advantages/icon-3.png);

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/advantages/icon-3@2x.png);        
        }
    }
}

.advantages__item:not(:last-child) {
    @media screen and (min-width: 768px) {
        margin-right: 60px;
    }

    @media screen and (min-width: 1080px) {
        margin-right: 30px;
    }
    

    @media screen and (max-width: 767px) {
        margin-bottom: 38px;
	}
}

.advantages__text {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(28/16);
    letter-spacing: 0.02em;
    margin-top: 15px;
    color: var(--darkColor);

    @media screen and (min-width: 768px) {
        margin-top: 13px;
	}

    @media screen and (min-width: 1080) {
        margin-top: 15px;
	}
}