.contacts_bgr {
	height: 100%;
	background-image: linear-gradient(#ffffff 5.702%, #fff5f6 5.702%);
	@media screen and (min-width: 768px) {
		background-image: linear-gradient(#ffffff 9%, #fff5f6 9%);
	}
	@media screen and (min-width: 1080px) {
		background-image:  url(/images/contacts/bg-desktop.png), linear-gradient(#ffffff 11.74%, #fff5f6 11.74%);
		background-repeat: no-repeat;
		background-position: center;
		@media screen and (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
		background-image: url(/images/contacts/bg-desktop@2x.png), linear-gradient(#ffffff 11.74%, #fff5f6 11.74%);
		background-size: 1920px;
	}
	

	}
}

.contacts {
	// background-color: var(--primaryBgc);
	font-size: 12px;
	padding-bottom: 113px;
	@media screen and (min-width: 768px) {
		font-size: 14px;
		padding-bottom: 158px;
	}
	@media screen and (min-width: 1080px) {
		padding-bottom: 165px;
		font-size: 16px;
	}
}


.contacts__list {
	padding-left: 35px;
	padding-right: 35px;

	@media screen and (min-width: 768px) {
		padding-left: 0;
		padding-right: 0;

		display: flex;
	}
}

.contacts__item {
	background-color: var(--secondaryColor);
	padding: 43px 20px;
	box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
	border-radius: 24px;
	&:not(:last-child) {
		margin-bottom: 20px;
	}

	@media screen and (min-width: 768px) {
		padding: 50px 31px;

		&:not(:last-child) {
			margin-right: 20px;
			margin-bottom: 0px;
		}
		width: calc((100% - 2 * 20px) / 3);
	}

	@media screen and (min-width: 1080px) {
		padding: 51px 44px 62px 44px;
		&:not(:last-child) {
			margin-right: 29px;
		}
	}
}

.contact__points {
	display: inline-block;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 4px;
	background: var(--alternateBgc);
	
	line-height: 1.86;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--secondaryBgc);

	@media screen and (min-width: 768px) {
		font-size: 16px;
		height: 28px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.points-truck {
	background-color: var(--additionalBgc);
}

.contacts__area {
	padding: 25px 0px;
	min-width: 100%;
	@media screen and (min-width: 768px) {
		padding: 30px 0px;
	}
	@media screen and (min-width: 1080px) {
		padding: 32px 0px;
	}
}

.contacts__city {
	line-height: 1.86;
	letter-spacing: 0.04em;
	color: var(--darkColor);
	margin-bottom: 10px;
	@media screen and (min-width: 768px) {
		margin-bottom: 14px;
	}
	@media screen and (min-width: 768px) {
		margin-bottom: 10px;
	}
}

.contacts__story {
	line-height: 1.5;
	color: var(--primaryColor);

	@media screen and (min-width: 768px) {
		line-height: 1.66;
	}
	@media screen and (min-width: 1080px) {
		line-height: 1.86;
	}
}

.contacts__schedule {
	padding: 25px 0px;
	min-width: 100%;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;

	@media screen and (min-width: 768px) {
		padding: 30px 0px;
	}
	@media screen and (min-width: 1080px) {
		padding: 32px 0px;
	}
}

.contacts__worktime {
	&:first-child {
		padding-bottom: 10px;
	}
	@media screen and (min-width: 768px) {
		&:first-child {
			padding-bottom: 16px;
		}
	}
	@media screen and (min-width: 1080px) {
		&:first-child {
			padding-bottom: 15px;
		}
	}
}

.contacts__days {
	line-height: 1.86;
	letter-spacing: 0.04em;
	color: var(--darkColor);
}

.contacts__days-time {
	line-height: 1.86;
	color: var(--preTitleColor);
}

.contacts__connection {
	padding-top: 25px;
	min-width: 100%;
	line-height: 1.5;

	@media screen and (min-width: 768px) {
		padding-top: 30px;
		line-height: 1.83;
	}

	@media screen and (min-width: 1080px) {
		padding-top: 32px;
		line-height: 1.83;
	}
}
.contacts__phone {
	display: block;
	line-height: 1.83;
	color: var(--primaryColor);
}
.contacts__mail {
	display: block;
	
	line-height: 1.83;
	color: var(--primaryColor);
}

.contacts-buttons {
	margin-top: 54px;
	@media screen and (min-width: 768px) {
		margin-top: 81px;
		display: flex;
		justify-content: center;
	}
	@media screen and (min-width: 1080px) {
		margin-top: 86px;
	}
}

.contacts-buttons__location {
	width: 161px;
	display: block;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	fill: white;
	transition: background-color var(--cubic);

	@media screen and (min-width: 768px) {
		width: 192px;

		margin-right: 15px;
		margin-left: 0;
		margin-bottom: 0px;
	}

	&:hover, &:focus {
		background-color: #C7133E;
	}
}

.contacts-buttons__franchise {
	width: 161px;
	border: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 17px;

	@media screen and (min-width: 768px) {
		width: 192px;

		margin-left: 0;
		margin-right: 0;
	}
}

.arrow-svg {
	width: 6px;
	height: 10px;
}
