.customer {
	margin-bottom: 54px;

	@media screen and (min-width: 768px) {
		margin-bottom: 87px;
	}

	@media screen and (min-width: 1080px) {
		margin-bottom: 112px;
	}
}

.multiple-items {
	margin-left: auto;
	margin-right: auto;
	max-width: 280px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media screen and (min-width: 768px) {
		max-width: 620px;
	}

	@media screen and (min-width: 1080px) {
		max-width: 926px;
	}
}

.customer__card {
	text-align: center;
	padding-bottom: 47px;
}
.customer__img {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 29px;

	@media screen and (min-width: 768px) {
		margin-bottom: 19px;
	}

	@media screen and (min-width: 1080px) {
		margin-bottom: 15px;
	}
}
.customer__review {
	background-color: var(--reviewBgc);

	position: relative;

	max-width: 280px;
	height: 308px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	padding-top: 71px;

	@media screen and (min-width: 768px) {
		max-width: 620px;
		height: 164px;
		padding-top: 76px;
		padding-bottom: 20px;
		padding-left: 60px;
		padding-right: 36px;
	}
	@media screen and (min-width: 1080px) {
		max-width: 926px;
		height: 138px;

		padding-top: 74px;
		padding-bottom: 32px;
		padding-left: 59px;
		padding-right: 54px;
	}
}

.customer__review::before {
	content: '';
	display: block;
	width: 54px;
	height: 40px;

	background-image: url('/images/customer-reviews/“.svg');
	background-size: contain;
	position: absolute;
	left: 61px;
	top: 28px;

	@media screen and (min-width: 768px) {
		left: 40px;
		top: 30px;
	}

	@media screen and (min-width: 1080px) {
		left: 50px;
		top: 32px;
	}
}

.customer__gradient {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: repeating-linear-gradient(#e1e1e1, #e1e1e1 1px, #fafafa 1px, #fafafa 31px);
}

.customer__text {
	position: absolute;
	top: -28px;
	width: 157px;

	margin: 0;

	font-weight: 500;
	font-size: 12px;
	line-height: 2.55;

	letter-spacing: 0.04em;

	color: #000000;

	@media screen and (min-width: 768px) {
		width: 460px;

		font-size: 14px;
		line-height: 2.16;
	}

	@media screen and (min-width: 1080px) {
		width: 750px;

		font-size: 16px;
		line-height: 1.86;
	}
}

.customer__name::before {
	content: '.   .   .';
	display: block;
	color: var(--heroBtnDarkHover);
	font-size: 32px;
	padding: 0;
	margin: 0;
}

.customer__name {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.86;
	padding: 0;
	margin: 0;
}

.slick-dots {
	position: absolute;
	bottom: 0;
	display: block;

	padding: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li {
	width: 13px;
	height: 12px;
	margin-right: 18px;
}

.slick-dots li button {
	width: 100%;
	line-height: 0;
}

.slick-dots li button::before {
	font-size: 12px;
	color: #000000;
	line-height: 12px;
}

.slick-dots li:hover button::before {
	color: var(--sliderBgc);
}

.slick-dots li.slick-active button::before {
	color: transparent;
	position: relative;
	top: 0;
	left: 0;
	background-image: url('/images/customer-reviews/home.svg');
	background-size: contain;
	background-origin: border-box;
	background-repeat: no-repeat;
	width: 13px;
	height: 12px;
	line-height: 0;
}
