.footer {
	background-color: var(--primaryBgc);
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 43px;

	@media screen and(min-width:768px) {
		padding-bottom: 91px;
		@include flex(flex, space-between, none);
	}

	@media screen and(min-width:1080px) {
		padding-bottom: 97px;
		align-items: center;
	}
}
.footer__titles {
	max-width: 223px;
	@media screen and(min-width:768px) {
		max-width: 340px;
	}
	@media screen and(min-width:1079px) {
		max-width: 478px;
	}
	@media screen and(max-width:767px) {
		margin-bottom: 43px;
	}
}
.footer__third-title {
	margin-bottom: 17px;

	@media screen and(min-width:768px) {
		margin-bottom: 16px;
	}

	@media screen and(min-width:1080px) {
		margin-bottom: 15px;
	}
}
.footer__elements {
	@media screen and(max-width:767px) {
		max-width: 230px;
		margin-left: auto;
	}
}
.footer__social-list {
	max-width: 153px;
	margin-bottom: 46px;
	margin-left: auto;

	@media screen and(min-width:768px) {
		max-width: 162px;
	}
	@media screen and(min-width:1080px) {
		margin-bottom: 50px;
		max-width: 151px;
	}
}

.footer__text-contact {
	@include font(700, 12px, 186%);

	@media screen and(min-width:768px) {
		font-size: 14px;
	}

	@media screen and(min-width:1080px) {
		font-size: 16px;
	}
}
.footer__contact {
	color: var(--accent);
	&:hover,
	&:focus {
		box-shadow: 0px 1px 4px rgba(212, 20, 68, 0.75);
	}
}
.footer__copyright {
	background-color: var(--primaryBgc);

	padding-top: 21px;
	padding-bottom: 25px;

	@media screen and(min-width:768px) {
		padding-top: 29px;
		padding-bottom: 18px;
	}

	@media screen and(min-width:1080px) {
		background-color: var(--secondaryBgc);
	}
}
.footer__copyright-text {
	max-width: 145px;
	margin: auto;
	color: var(--primaryColor);
	@include font(700, 14px, 152%);

	@media screen and(min-width:768px) {
		line-height: 186%;
		letter-spacing: 0.02em;
		max-width: 276px;
	}
}
