.footer {
	background-color: var(--primaryBgc);
}
.footer__position {
	padding-bottom: 43px;

	@media screen and(min-width:768px) {
		padding-bottom: 91px;
		@include flex(flex, space-between, flex-start);
	}

	@media screen and(min-width:1080px) {
		padding-bottom: 97px;
		align-items: center;
	}
}

.footer__titles {
	max-width: 223px;
	@media screen and(min-width:768px) {
		max-width: 340px;
	}
	@media screen and(min-width:1079px) {
		max-width: 478px;
	}
	@media screen and(max-width:767px) {
		margin-bottom: 43px;
	}
}
.footer__third-title {
	margin-bottom: 17px;

	@media screen and(min-width:768px) {
		letter-spacing: 0.04em;
		margin-bottom: 16px;
	}

	@media screen and(min-width:1080px) {
		margin-bottom: 15px;
	}
}
.footer__social-list {
	width: 100%;
	justify-content: flex-end;
	margin-bottom: 46px;
}

.footer__text-contact {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	@include font(700, 12px, 1.86em);

	@media screen and(min-width:768px) {
		font-size: 14px;
	}

	@media screen and(min-width:1080px) {
		font-size: 16px;
	}
}
.footer__contact {
	color: var(--accent);
	transition: box-shadow var(--cubic);

	&:hover,
	&:focus {
		box-shadow: 0px 1px 4px rgba(212, 20, 68, 0.75);
	}
}
.footer__copyright {
	border-top: 1px solid #e1e1e1;
	padding-top: 21px;
	padding-bottom: 25px;

	@media screen and(min-width:768px) {
		padding-top: 29px;
		padding-bottom: 18px;
	}

	@media screen and(min-width:1080px) {
		padding-top: 9px;
		padding-bottom: 10px;
	}
}
.footer__copyright-text {
	text-align: center;
	color: var(--primaryColor);
	@include font(700, 14px, 1.52em);

	@media screen and(max-width:479px) {
		margin: auto;
		max-width: 149px;
	}

	@media screen and(min-width:768px) {
		line-height: 1.86em;
		letter-spacing: 0.02em;
	}
}
