header {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #ffb8ca;

  @media screen and (min-width: 768px) {
    padding-top: 37px;
    padding-bottom: 37px;
  }
}

.conteiner-header {
  width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;

  @include flex(flex, space-between, center);

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
    padding-right: 34px;
    padding-left: 34px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.menu {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.menu__list {
  display: inline-flex;
}

.menu__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.menu__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;

  color: var(--secondaryColor);

  &.current {
    color: var(--accent);
  }
}

.header-buttons {
  display: inline-flex;
}

.burger {
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.btn-buy {
  width: 159px;
  min-height: 44px;

  color: var(--accent);
  background-color: var(--secondaryBgc);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31em;

  border-radius: 22px;

  @include flex(flex, center, center);

  @media screen and (max-width: 767px) {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: var(--heroBtnLightHover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.greather-than {
  margin-left: 12px;

  fill: var(--accent);
}
